@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,500,700");
.bs-section {
  margin-top: 5em;
}

.hidden {
  display: none !important;
}

.navbar {
  width: 100%;
}

/*# sourceMappingURL=custom.css.map */
